<?xml version="1.0"?>

<model>
  <name>Basket</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Leo Rover</name>
  </author>

  <description>
    A silver-gray basket with hollow center.
    External size: 23cm × 23cm × 23cm
    Internal size: 20cm × 20cm × 20cm
  </description>

</model>
