<?xml version="1.0"?>

<model>
  <name>Simple Box Obstacle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Leo Rover</name>
  </author>

  <description>
    A simple box obstacle that can be used in Gazebo worlds.
    Default size: 1m x 1m x 1m
  </description>

</model>
